---
import { client } from "../utils/sanity-client";
import SectionLayout from "../layouts/SectionLayout.astro";
import {
  fetchRecreationFuturesSubpages,
  RECREATION_FUTURES_BASE_PATH,
  toSectionNavItems
} from "../data/sectionNav";

const [recreationFuturesPage, recreationFuturesSubpages] = await Promise.all([
  client.fetch(
    `*[_type == "recreationFuturesPage"][0]{
      title,
      intro,
      body
    }`
  ),
  fetchRecreationFuturesSubpages()
]);

const title = recreationFuturesPage?.title ?? "Recreation Futures Lab";
const intro = recreationFuturesPage?.intro ?? "";
const body = recreationFuturesPage?.body ?? [];
const secondaryNavItems = toSectionNavItems(recreationFuturesSubpages, RECREATION_FUTURES_BASE_PATH);
---

<SectionLayout
  title={title}
  intro={intro}
  body={body}
  secondaryNavTitle="Recreation Futures Lab"
  secondaryNavItems={secondaryNavItems}
  currentPath={RECREATION_FUTURES_BASE_PATH}
>
  <p>Recreation Futures Lab content can be added in Sanity Studio.</p>
</SectionLayout>
