---
import NcStateOfRecreationLayout from "../../../layouts/NcStateOfRecreationLayout.astro";
import {
  NC_STATE_BASE_PATH,
  fetchNcStateOfRecreationSubpage,
  fetchNcStateOfRecreationSubpages,
  toNcStateSecondaryNavItems
} from "../../../data/ncStateOfRecreation";

const slug = "map";
const [page, subpages] = await Promise.all([
  fetchNcStateOfRecreationSubpage(slug),
  fetchNcStateOfRecreationSubpages()
]);

const title = page?.title ?? "NC:State of Recreation Map";
const intro =
  page?.intro ??
  "This page is a placeholder for the NC:State of Recreation Map within Recreation Futures Lab.";
const body = page?.body ?? [];
const secondaryNavItems = toNcStateSecondaryNavItems(subpages);
---

<NcStateOfRecreationLayout
  title={title}
  intro={intro}
  body={body}
  currentPath={`${NC_STATE_BASE_PATH}/${slug}`}
  secondaryNavItems={secondaryNavItems}
>
  {body.length === 0 && <p>Map content can be added here.</p>}
</NcStateOfRecreationLayout>
