---
import type { ActionLink } from 'types';
import Layout from './Layout.astro';
import SecondaryNav from '@components/SecondaryNav.astro';
import PortableTextContent from '@components/PortableTextContent.astro';

interface Props {
    title: string;
    intro?: string;
    body?: any[];
    secondaryNavTitle: string;
    secondaryNavItems?: ActionLink[];
    currentPath: string;
    description?: string;
    showTitleHeading?: boolean;
}

const {
    title,
    intro = '',
    body = [],
    secondaryNavTitle,
    secondaryNavItems = [],
    currentPath,
    description,
    showTitleHeading = false
} = Astro.props;
---

<Layout title={title} description={description}>
    <SecondaryNav slot="secondary-nav" title={secondaryNavTitle} items={secondaryNavItems} currentPath={currentPath} />

    {showTitleHeading && <h1>{title}</h1>}

    {intro && <p>{intro}</p>}

    {body.length > 0 ? <PortableTextContent value={body} /> : <slot />}
</Layout>
